.theme-strong{
    --main-bg: hsl(222, 26%, 31%);
    --toggle-bg: hsl(223, 31%, 20%);
    --screen-bg: hsl(224, 36%, 15%);
    --key-bg: hsl(225, 70%, 75%);
    --key-hover : hsl(0, 0%, 100%);
    --key-hover2 : hsl(225, 95%, 75%);
    --key-shadow: hsl(223, 30%, 46%);
    --red : hsl(6, 75%, 58%);
    --red-hover : hsl(6, 78%, 45%);
    --dark-red: hsl(6, 60%, 39%);
    --light-grayish-orange: hsl(30, 25%, 89%);
    --grayish-orange: hsl(28, 16%, 65%);
    --text: hsl(60, 10%, 19%);
    --white: hsl(0, 0%, 100%);
    --toggle-thumb: hsl(6, 78%, 45%);
}

.theme-brave{
    --main-bg: hsl(0, 0%, 90%);
    --toggle-bg: hsl(0, 5%, 81%);
    --screen-bg: hsl(0, 0%, 93%);
    --key-bg: hsl(185, 42%, 37%);
    --key-hover2 : hsl(180, 37%, 55%);
    --key-shadow: hsl(185, 58%, 25%);
    --red : hsl(6, 75%, 58%);
    --red-hover : hsl(6, 78%, 45%);
    --dark-red: hsl(6, 60%, 39%);
    --light-grayish-orange: hsl(30, 25%, 89%);
    --grayish-orange: hsl(28, 16%, 65%);
    --text: hsl(60, 10%, 19%);
    --white: hsl(0, 79%, 4%);
    --toggle-thumb: hsl(6, 78%, 45%);

}

.theme-wicked{
    --main-bg: hsl(268, 75%, 9%);
    --toggle-bg: hsl(268, 71%, 12%);
    --screen-bg: hsl(268, 71%, 12%);
    --key-bg: hsl(281, 89%, 26%);
    --key-hover : hsl(281, 54%, 45%);
    --key-shadow: hsl(285, 91%, 52%);
    --red : hsl(176, 100%, 44%);
    --red-hover : hsl(177, 92%, 70%);
    --dark-red: hsl(177, 92%, 70%);
    --light-grayish-orange: hsl(268, 47%, 21%);
    --grayish-orange: hsl(285, 91%, 52%);
    --text: hsl(52, 100%, 62%);
    --white: hsl(52, 100%, 62%);
    --toggle-thumb: hsl(176, 100%, 44%);
}


html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

body{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'League Spartan', serif;
    background-color: var(--main-bg); 
}

#calc-body{
    width: clamp(300px, 100%, 400px);
    height: clamp(300px, 100%, 550px);
    padding: 16px;
    display: flex;
    flex-direction: column;
}

#setting{
    height: 50px;
}

#display{
    height: 100px;
    padding: 4px 8px 0 8px;
    margin-bottom: 16px;
    border-radius: 8px;
    font-size: 48px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    background-color: var(--screen-bg);
    color: var(--white);
}

#display-operand{
    height: 5%;
    font-size: 28px;
}

#display-numbers{
    flex-grow: 1;
    display: flex;
    align-items: center;
}

#key-container{
    flex-grow: 1;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    padding: 20px;
    background-color: var(--toggle-bg);
    font-size: 32px;
    font-weight: 700;
    border-radius: 8px;
}

.key {
    width: 21%;
    height: 15%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-grayish-orange);
    box-shadow: 0 3px var(--grayish-orange);
    border-radius: 6px;
    cursor: pointer;
    color: var(--text);
}

#del, #reset{
    background-color: var(--key-bg);
    box-shadow: 0 3px var(--key-shadow);
    color: var(--white);
    font-size: 22px;
    font-weight: 600;
}

#equal{
    background-color: var(--red);
    box-shadow: 0 3px var(--dark-red);
    color: var(--white);
    
}

.key:hover{
    background-color: var(--key-hover);
}

.key#equal:hover{
    background-color: var(--red-hover);
}

.key#del:hover, .key#reset:hover{
    background-color: var(--key-hover2);
}


.theme-container{
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    position: relative;
}

input[type=range]{
    width: 50px;
    height: 15px;
    overflow: hidden;
    appearance: none;
    background-color: var(--toggle-bg);
    padding: 3px;
    border-radius: 17%/50%;
    cursor: pointer;
    outline: none;
}


input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 23px;
    background: var(--toggle-thumb);
}

.tri-state-toggle ul{
    list-style-type: none;
    padding: 0; 
    margin: 0 6px 4px 6px; 
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 700;
    color: var(--white);
}

.theme-text{
    color: var(--white);
    position: absolute;
    bottom: 6px;
    right: 72px;
}
